.submit-offer {
    height: 450px;
}

.so-header {
    text-align: center;
    font-family: sans-serif;
    color: #7b7b7b;
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 35px;
}

.submit-offer input {
    font-size: 16px;
}

.submit-offer span {
    font-size: 16px;
}

.so-contract-input {
    margin-top: 25px;
}
