.qc-container-height {
    height: 450px;
}

.qc-container-height label {
    font-weight: 400;
}

.qc-container-height form span {
    font-size: 16px;
}

.qc-header {
    text-align: center;
    font-family: sans-serif;
    color: #7b7b7b;
    font-size: 21px;
    font-weight: 300;
    padding-bottom: 35px;
}

.qc-answer {
    text-align: center;
    font-family: sans-serif;
    color: #7b7b7b;
    font-size: 21px;
    font-weight: 300;
    padding-bottom: 15px;
}

.qc-right {
    transition:all 0.5s;
    background-color: lightgreen;
}

.qc-wrong {
    transition:all 0.5s;
    background-color: pink;
}

.qc-color-ok {
    color: green;
}

.qc-color-remove {
    color: red;
}

