.qc-container-height {
    height: 450px;
}

.qc-container-height label {
    font-weight: 400;
}

.qc-container-height form span {
    font-size: 16px;
}

.qc-container-height textarea {
    margin-bottom: 0;
}

.qc-container-height .form-group {
    margin-bottom: 0;
}

.qc-header {
    text-align: center;
    font-family: sans-serif;
    color: #7b7b7b;
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 35px;
}

.qc-answer {
    text-align: center;
    font-family: sans-serif;
    color: #7b7b7b;
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 15px;
}

.qc-right {
    transition:all 0.5s;
    background-color: lightgreen;
}

.qc-wrong {
    transition:all 0.5s;
    background-color: pink;
}

.qc-color-ok {
    color: green;
}

.qc-color-remove {
    color: red;
}

.qc-line-height {
    line-height: 30px;
}

.qc-v-align {
    vertical-align: middle;
}

.qc-add-margin {
    margin-top: 5px;
}

.float-right {
    float: right;
}

.dark-red {
    color: #6D1616;
}
