/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.navbar-header {
  height: 60px;
}

body {
  height: 100vh;
}

.navbar-brand {
  height: 50px;
  width: 270px;
  margin: 0 auto;
  display: block;
  float: none;
}

.navbar-logo {
  height: 50px;
  width: 270px;
}

.view-container {
  height: calc( 100% - 90px );
  box-shadow: 0px 5px 6px 2px rgba(0, 0, 0, 0.12) inset;
}

.login-page-content {
  background-image :url('assets/images/background.jpg');
  box-shadow: 0px 5px 6px 2px rgba(0, 0, 0, 0.12) inset;
  height: 100%;
}

.login-card-container {
  position:absolute;
  margin-top: 200px;
  margin-left: auto;
}

.login-card-container .card-block {
  height: 300px;
  width: 60vw;
  left: 50vw;
  margin-left: -30vw;
  border-radius: 0px;
  border: none;
  background-color: rgba(255,255,255,0.9);
}

.btn.btn-primary {
  color: #fff;
  background-color: rgb(109, 22, 22);
  border-color: rgb(109, 22, 22);
  border-radius: 0px;
  text-transform: uppercase;
}

.login-card-body {
  height: 220px;
}

.login-card-footer {
  height: 40px;
  padding: 2px 0px;
}

.info-container {
  text-align: right;
  color: #6D1616;
  padding-top: 20px;
  line-height: 1;
}

.egen-logo {
  height: 36px;
  width: 100px;
}

.egen-text-container {
  font-size: 12px;
  color: #6D6E71;
  font-weight: 500;
  margin-left: 1px;
  line-height: 1;
  padding-bottom: 5px;
}