body {
    font-family: sans-serif;
    color: #7b7b7b;
    font-size: 14px;
    font-weight: 400;
    height: 100vh;
    background-color: #eee;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: white;
    box-shadow: 0 1px 1px 1px rgba(119, 119, 119, 0.5);
}

.navbar-header {
    height: 60px;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.navbar-logo {
    height: 40px;
    width: 220px;
}

input.form-control:focus {
    border: none;
    box-shadow: none !important;
    outline: none;
    border-bottom: 2px solid #6D1616 !important;
}

input.form-control {
    border-radius: 0;
    border: none;
    box-shadow: none !important;
    border-bottom: 2px solid #6D1616 !important;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-top-50 {
    padding-top: 50px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-35 {
    margin-top: 35px;
}

.margin-top-50 {
    margin-top: 50px;
}

.no-margin {
    margin: 0 !important;
}

.text-align-center {
    text-align: center;
}

.text-center {
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

.dropdown-menu {
    right: 0;
}

.dropdown-menu > li > a {
    color: #7b7b7b;
    font-weight: 400;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #6D1616;
}

.row {
    margin-bottom: 0;
}

.row .col {
    padding: 0 15px;
}

.btn-primary {
    background-color: #6D1616 !important;
}

.btn-default {
    background-color: grey !important;
    color: #fff !important;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
    border: 2px solid #6D1616;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
    background-color: #6D1616;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: #a56666;
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #6D1616;
}

input[type=text]:focus:not([readonly]) + label {
    color: #6D1616;
}
