body {
    height: 100vh;
    background-color: #eee;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: white;
    box-shadow: 0 1px 1px 1px rgba(119, 119, 119, 0.5);
}

.navbar-header {
    height: 60px;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.navbar-logo {
    height: 40px;
    width: 220px;
}

input.form-control:focus {
    border: none;
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid #6D1616
}

input.form-control {
    border-radius: 0;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #6D1616;
}

.btn.btn-primary {
    color: #fff;
    background-color: #6D1616;
    border-color: #6D1616;
    border-radius: 0;
    text-transform: uppercase;
}

.btn.btn-default {
    color: #fff;
    background-color: grey;
    border-color: grey;
    border-radius: 0;
    text-transform: uppercase;
}

.text-align-center {
    text-align: center;
}
