.rate-calculator {
    height: 450px;
}

.rate-calculator-header {
    text-align: center;
    font-family: sans-serif;
    color: #7b7b7b;
    font-size: 21px;
    font-weight: 300;
    padding-bottom: 35px;
}