.rate-calculator {
    height: 450px;
}

.rate-calculator input {
    font-size: 16px;
}

.rate-calculator span {
    font-size: 16px;
}

.rate-calculator-header {
    text-align: center;
    font-family: sans-serif;
    color: #7b7b7b;
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 35px;
}

.rate-calculator-cost {
    width: 100%;
    height: 100px;
    background-color: lightgrey
}

