.login-container-height {
    height: 500px;
}

.login-body {
    padding-top: 150px;
}

.login-body-location {
    position: relative;
}

.login-glyph-dropdown {
    position: absolute;
    right: 5px;
    top: 12px;
}