<div default-container>
    <div class="ud-add-container-height">
        <div class="col-xs-12 ud-header">What would you like to do?</div>
        <div ng-repeat="data in vm.tiles"
             class="col-xs-6 ud-add-tile-spacing">
            <div ng-mouseover="vm.hoverInTile(data)"
               ng-mouseleave="vm.hoverOutTile(data)"
                 ng-click="vm.go(data)"
               class="ud-add-tile"
               ng-class="{'ud-pull-right': ($index%2 === 0), 'ud-add-hover-tile': data.hover}">
                {{data.tileName}}
            </div>
        </div>
    </div>
</div>